<div class="about-container">
    <div class="about-about">
        <span class="about-text">
            <mat-card>
                <span>
                    Acest chestionar atinge patru principii esențiale ale modelului de
                    maturitate digitală creat de Boston Consulting Group: organizare,
                    tehnologie, strategie și operațiuni.
                </span>
                <br />
                <span>
                    Modelul este un instrument folositor pentru firmele care își doresc să
                    își evalueze capacitățile digitale.
                </span>
                <br />
                <span>
                    Pe o scară de la 1 (deloc de acord) la 5 (total de acord), vă rugăm să
                    evaluați onest următoarele aspecte.
                </span>
            </mat-card>
        </span>
        <span class="about-text1">
            <span>
                <button mat-raised-button (click)="onNextPage()">
                    <p>START CHESTIONAR</p>
                </button>
            </span>
        </span>
    </div>
</div>

<router-outlet></router-outlet>
