<div class="experientaclientilor-container">
    <div class="experientaclientilor-experientaclientilor">
        <div class="progress-bar">
            <mat-progress-bar mode="buffer" value="70"></mat-progress-bar>
        </div>
        <span class="experientaclientilor-text1">
            <span>EXPERIENȚA CLIENȚILOR</span>
        </span>
      <span class="experientaclientilor-text2">
            <mat-card>
                <span>
                    Este o prioritate în cadrul companiei experiența clienților? <br><br>
                </span>
                <div class="radio-button">
                    <form [formGroup]="group1">
                        <label>
                            <input type="radio" value="1" formControlName="selectedOption">
                            1
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="selectedOption">
                            2
                        </label>
                        <label>
                            <input type="radio" value="3" formControlName="selectedOption">
                            3
                        </label>
                        <label>
                            <input type="radio" value="4" formControlName="selectedOption">
                            4
                        </label>
                        <label>
                            <input type="radio" value="5" formControlName="selectedOption">
                            5
                        </label>
                    </form>
                </div>
            </mat-card>
        </span>

      <span class="experientaclientilor-text3">
            <mat-card>
                <span>
                    Utilizați datele și părerile clienților pentru a vă ghida inițiativele
                    digitale? <br><br>
                </span>
                <div class="radio-button">
                    <form [formGroup]="group2">
                        <label>
                            <input type="radio" value="1" formControlName="selectedOption">
                            1
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="selectedOption">
                            2
                        </label>
                        <label>
                            <input type="radio" value="3" formControlName="selectedOption">
                            3
                        </label>
                        <label>
                            <input type="radio" value="4" formControlName="selectedOption">
                            4
                        </label>
                        <label>
                            <input type="radio" value="5" formControlName="selectedOption">
                            5
                        </label>
                    </form>
                </div>
            </mat-card>
        </span>

      <span class="experientaclientilor-text4">
            <mat-card>
                <span>
                    Activitățile dumneavoastră digitale au scopul de a îmbunătăți
                    experiența clienților? <br><br>
                </span>
                <div class="radio-button">
                    <form [formGroup]="group3">
                        <label>
                            <input type="radio" value="1" formControlName="selectedOption">
                            1
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="selectedOption">
                            2
                        </label>
                        <label>
                            <input type="radio" value="3" formControlName="selectedOption">
                            3
                        </label>
                        <label>
                            <input type="radio" value="4" formControlName="selectedOption">
                            4
                        </label>
                        <label>
                            <input type="radio" value="5" formControlName="selectedOption">
                            5
                        </label>
                    </form>
                </div>
            </mat-card>
        </span>

        <div class="experientaclientilor-group1">

            <span class="experientaclientilor-text5">
                <mat-card>
                    <span>
                        Evaluați și optimizați în mod constant parcursul clienților? <br><br>
                    </span>
                    <div class="radio-button">
                        <form [formGroup]="group4">
                            <label>
                                <input type="radio" value="1" formControlName="selectedOption">
                                1
                            </label>
                            <label>
                                <input type="radio" value="2" formControlName="selectedOption">
                                2
                            </label>
                            <label>
                                <input type="radio" value="3" formControlName="selectedOption">
                                3
                            </label>
                            <label>
                                <input type="radio" value="4" formControlName="selectedOption">
                                4
                            </label>
                            <label>
                                <input type="radio" value="5" formControlName="selectedOption">
                                5
                            </label>
                        </form>
                    </div>
                </mat-card>
            </span>

        </div>

        <span class="experientaclientilor-button">
            <button mat-raised-button (click)="onNextPage()">
                <p>SECȚIUNEA URMĂTOARE</p>
            </button>
        </span>
    </div>
</div>
