<div class="intro-container">
    <div class="intro-intro">
        <span class="intro-text-button">
            <!-- <button mat-raised-button>
                <a routerLink='/secondpage'>start chestionar</a>
            </button> -->
            <button mat-raised-button (click)="moveToNextPage()">
                START CHESTIONAR
            </button>
        </span>
        <div class="intro-group">
            <mat-card>
                <br>
            <span>
                <a href = "https://www.bcg.com/publications/2021/the-fast-track-to-digital-marketing-maturity">EVALUAREA MATURITĂȚII DIGITALE</a></span>
            <br><br><br>
            <span>Indexul accelerației digitale Boston Consulting Group <br><br></span>
            </mat-card>
        </div>
    </div>
</div>
<router-outlet></router-outlet>