<div class="tehnologie-container">
    <div class="tehnologie-tehnologie">
        <div class = "progress-bar">
            <mat-progress-bar mode="buffer" value="20"></mat-progress-bar>
        </div>
        <span class="tehnologie-text1">
            <span>TEHNOLOGIE</span>
        </span>

      <span class="tehnologie-text2">
            <mat-card>
            <span>
                Este organizația dumneavoastră capabilă să adopte în mod eficient noi
                tehnologii? <br><br>
            </span>
            <div class="radio-button">
                <form [formGroup]="group1">
                    <label>
                        <input type="radio" value="1" formControlName="selectedOption">
                        1
                    </label>
                    <label>
                        <input type="radio" value="2" formControlName="selectedOption">
                        2
                    </label>
                    <label>
                        <input type="radio" value="3" formControlName="selectedOption">
                        3
                    </label>
                    <label>
                        <input type="radio" value="4" formControlName="selectedOption">
                        4
                    </label>
                    <label>
                        <input type="radio" value="5" formControlName="selectedOption">
                        5
                    </label>
                </form>
            </div>
            </mat-card>
        </span>

      <span class="tehnologie-text3">
            <mat-card>
            <span>
                Aveți capacitatea de a menține și îmbunătăți eficient infrastructura
                tehnologică a companiei? <br><br>
            </span>
            <div class="radio-button">
                <form [formGroup]="group2">
                    <label>
                        <input type="radio" value="1" formControlName="selectedOption">
                        1
                    </label>
                    <label>
                        <input type="radio" value="2" formControlName="selectedOption">
                        2
                    </label>
                    <label>
                        <input type="radio" value="3" formControlName="selectedOption">
                        3
                    </label>
                    <label>
                        <input type="radio" value="4" formControlName="selectedOption">
                        4
                    </label>
                    <label>
                        <input type="radio" value="5" formControlName="selectedOption">
                        5
                    </label>
                </form>
            </div>
            </mat-card>
        </span>

      <span class="tehnologie-text4">
            <mat-card>
            <span>
                Investițiile tehnologice sunt în concordanță cu strategia și
                idealurile de ansamblu ale companiei? <br><br>
            </span>
            <div class="radio-button">
                <form [formGroup]="group3">
                    <label>
                        <input type="radio" value="1" formControlName="selectedOption">
                        1
                    </label>
                    <label>
                        <input type="radio" value="2" formControlName="selectedOption">
                        2
                    </label>
                    <label>
                        <input type="radio" value="3" formControlName="selectedOption">
                        3
                    </label>
                    <label>
                        <input type="radio" value="4" formControlName="selectedOption">
                        4
                    </label>
                    <label>
                        <input type="radio" value="5" formControlName="selectedOption">
                        5
                    </label>
                </form>
            </div>
            </mat-card>
        </span>

        <div class="tehnologie-group1">

            <span class="tehnologie-text5">
                <mat-card>
                <span>
                    Soluțiile dumneavoastră tehnologice sunt la standardele clienților și
                    angajațiilor? <br><br>
                </span>
                <div class="radio-button">
                    <form [formGroup]="group4">
                        <label>
                            <input type="radio" value="1" formControlName="selectedOption">
                            1
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="selectedOption">
                            2
                        </label>
                        <label>
                            <input type="radio" value="3" formControlName="selectedOption">
                            3
                        </label>
                        <label>
                            <input type="radio" value="4" formControlName="selectedOption">
                            4
                        </label>
                        <label>
                            <input type="radio" value="5" formControlName="selectedOption">
                            5
                        </label>
                    </form>
                </div>
                </mat-card>
            </span>
        </div>

        <span class="tehnologie-text-button">
            <button mat-raised-button (click)="onNextPage()">
                <p>SECȚIUNEA URMĂTOARE</p>
            </button>
        </span>

    </div>
</div>
