:host {
    display: contents;
  }
  .ecosistem-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .ecosistem-ecosistem {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(31, 72, 126, 1);
  }
.ecosistem-text-button {
  top: 923px;
  left: 1000px;
  color: rgba(169, 201, 240, 1);
  width: 320px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
  .ecosistem-group1 {
    top: 720px;
    left: 120px;
    width: 1200px;
    height: 141px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }

  .ecosistem-text2 {
    top: 180px;
    left: 120px;
    color: rgba(0, 0, 0, 1);
    width: 1200px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Regular;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .ecosistem-text-button {
    top: 923px;
    left: 1000px;
    color: rgba(169, 201, 240, 1);
    width: 320px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .ecosistem-text3 {
    top: 360px;
    left: 120px;
    color: rgba(0, 0, 0, 1);
    width: 1200px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Regular;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .ecosistem-text4 {
    top: 540px;
    left: 120px;
    color: rgba(0, 0, 0, 1);
    width: 1200px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Regular;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .ecosistem-text5 {
    color: rgba(0, 0, 0, 1);
    width: 1200px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Regular;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .ecosistem-text1 {
    top: 60px;
    left: 120px;
    color: rgba(169, 201, 240, 1);
    width: 540px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .mat-focus-indicator {
    background-color: rgba(169, 201, 240, 1);
  }
  .progress-bar {
    width: 100%;
      }
  .radio-button{
    text-align: center;
  }
